<header >
    <nav class="navBar" >
        <div class="logoDiv">
            <a href="/"><img src="/logo.png" alt="Acces_sorize" class="logo"></a>
        </div>

        <div class="menuDiv">
            <ul class="menu">
                <li class="menuList" ><a href="/" >Home</a></li>
                <li class="menuList"><a href="../shop/categories">Categories</a></li>
                <li class="menuList"><a href="../shop/cart"> <i class="fas fa-cart-arrow-down"></i> Cart</a></li>
            </ul>
        </div>
        
    </nav>
</header>