<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="/stylesheets/footerCss.css">
            <link rel="stylesheet" href="/stylesheets/headerCss.css">
            
            <title>Acces_sorize</title>

            <script src = "https://kit.fontawesome.com/c939d0e917.js"></script>    
           
        </head>
        <body>
            <%- include("../partials/_header") %>
            <br/>
            <%- body %>
            <br/>
            <%- include("../partials/_footer") %> 
        </body>
    </html>