<div class="category">

    <div class="hair">
        <a href="">
            <figure>

            </figure>
            <figcaption>
    
            </figcaption>
        </a>
    </div>

    <div class="hair">
        <a href="categories/ba">
            <figure>

            </figure>
            <figcaption>
    
            </figcaption>
        </a>
    </div>

    <div class="jewelry">
        <a href="categories/jewelry">
            <figure>

            </figure>
            <figcaption>
    
            </figcaption>
        </a>
    </div>

    <div class="hair">
        <a href="categories/hair">
            <figure>

            </figure>
            <figcaption>
    
            </figcaption>
        </a>
    </div>


</div>
