<div class="category">

    <div class="hair">
        <a href="">
            
        </a>
    </div>

    <div class="hair">
        <figure>

        </figure>
        <figcaption>
            
        </figcaption>
    </div>

    <div class="hair">
        <figure>

        </figure>
        <figcaption>
            
        </figcaption>
    </div>

    <div class="hair">
        <figure>

        </figure>
        <figcaption>
            
        </figcaption>
    </div>


</div>
