<h1>Categories</h1>

<div class="category">

    <div class="grid-item">
        <a href="categories/shoes">
            <figure>
                <img src="https://images.pexels.com/photos/3689132/pexels-photo-3689132.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
            </figure>
            <figcaption>
                SHOES
            </figcaption>
        </a>
    </div>

    <div class="grid-item">
        <a href="categories/bags">
            <figure>
                <img src="https://images.pexels.com/photos/634538/pexels-photo-634538.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" 
                alt=" bags">
            </figure>
            <figcaption>
                BAGS
            </figcaption>
        </a>
    </div>

    <div class="jewelry">
        <a href="categories/jewelry">
            <figure>
                <img src="https://images.pexels.com/photos/1453008/pexels-photo-1453008.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
            </figure>
            <figcaption>
                JEWELRY
            </figcaption>
        </a>
    </div>

    <div class="hair">
        <a href="categories/hair">
            <figure>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQeAryb-cyw_ADJfBptAYnSxm1NrIx36Xcxrw&usqp=CAU" alt="">
            </figure>
            HAIR
            <figcaption>
    
            </figcaption>
        </a>
    </div>


</div>
