.category {
    display: grid;
    grid-template-columns: 250px 250px ;
    justify-content: center;
    grid-column-gap: 50px;

}
.grid-item {
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 20px;
    font-size: 30px;
    text-align: center;

  }


figure img {
    height: 250px;
    width: 250px;
    border-radius: 25%;
    margin-right: 20px;
}
figcaption {
    
    color: rgb(68, 63, 63);
}
