.category {
    display: grid;
    grid-template-columns: 200px 200px ;
    justify-content: center;

}

.grid-item {
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }


figure img {
    height: 200px;
    width: 200px;
    box-rad: 25%;
}
